.test_image_and_result{
  background-color:grey;
  border-radius: 20px;
}

#img1{
  width:200px;
}

#img2{
  width:200px;
}

#sr{
  color:antiquewhite;
}

#fm{
  color:antiquewhite
}

#no{
  color:antiquewhite
}

#yes{
  color:antiquewhite
}

#eat{
  color:antiquewhite
}

#ate{
  color:antiquewhite
}

#egg{
  color:antiquewhite
}

#hen{
  color:antiquewhite
}

#cat{
  color:antiquewhite
}

#sat{
  color:antiquewhite
}

#sit{
  color:antiquewhite
}

#ink{
  color:antiquewhite
}

#pot{
  color:antiquewhite
}

#pen{
  color:antiquewhite
}

#mat{
  color:antiquewhite
}

#cup{
  color:antiquewhite
}

#in{
  color:antiquewhite
}

#on{
  color:antiquewhite
}

#coco{
  color:antiquewhite
}

#nut{
  color:antiquewhite
}

#tree{
  color:antiquewhite
}

#cut{
  color:antiquewhite
}

#hit{
  color:antiquewhite
}

#bat{
  color:antiquewhite
}